@model IEnumerable<Web_BanXeMoTo.Models.MauXe>
@using Web_BanXeMoTo.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!--about-us start -->
<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>
                                If I fail, I try again and again, and again.

                            </h2>
                            <div class="about-btn">
                                <button class="about-view">
                                    John now
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->

<!--galley start-->
<section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    top các sản phẩm bán chạy
                </h2>
            </div><!--/.gallery-header-->
            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="~/img/DUKE_01.png" />
                                    <div class="item-title">
                                        <h3>KTM SUPER DUKE</h3>
                                        <p>245 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="~/img/CB1000R_01.png" />
                                    <div class="item-title">
                                        <h3>HONDA CB1000R</h3>
                                        <p>250 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="~/img/GSXS1000_03.png" />
                                    <div class="item-title">
                                        <h3>SUZUKI GSXS1000</h3>
                                        <p>200 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="~/img/S1000RR_01.png" />
                                    <div class="item-title">
                                        <h3>BMW S1000RR</h3>
                                        <p>175 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                            <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="~/img/MT10_01.png" />
                                    <div class="item-title">
                                        <h3>YAMAHA MT-10</h3>
                                        <p>125 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="~/img/MONSTER_01.png" />
                                    <div class="item-title">
                                        <h3>DUCATI MONSTER</h3>
                                        <p>100 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="~/img/H2SX_01.png" />
                                    <div class="item-title">
                                        <h3>KAWASAKI NINJA H2R</h3>
                                        <p>25 chiếc đã bán</p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div> <!-- /.col -->
                        </div><!-- /.row -->

                    </div><!-- /.filtr-container-->
                </div><!-- /.gallery-content -->
            </div><!--/.galley-box-->
        </div><!--/.gallery-details-->
    </div><!--/.container-->

</section><!--/.gallery-->
<!--gallery end-->
<!--discount-offer start-->
<section class="discount-offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="dicount-offer-content text-center">
                    <h2>Ưu đãi lên đến 20%</h2>
                    <div class="campaign-timer">
                        <p>
                            Đối với khách hàng thành viên Vàng, Bạc, Đồng.
                        </p>
                    </div><!--/.campaign-timer-->
                </div>
                <!-- /.dicount-offer-content-->
            </div><!-- /.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section><!-- /.discount-offer-->
<!--discount-offer end-->
<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                Sản phẩm nổi bật
            </h2>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">

                @foreach (var mau in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-package-item">
                            <img src="@Url.Content(mau.HinhAnh1)" alt="package-place" />
                            <div class="single-package-item-txt">
                                <h3>@Html.DisplayFor(model=>mau.TenXe)<br /><span class="pull-right">@((int)mau.GiaBan) VNĐ</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-angle-right"><a asp-action="ProductsDetail" asp-route-id="@mau.Idmau" >Thông số sản phẩm</a></i>
                                        </span>
                                    </p>
                                </div><!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>254 reviews</span>
                                    </p>
                                </div><!--/.packages-review-->
                                <div class="about-btn">
                                    <button class="about-view packages-btn">
                                        book now
                                    </button>
                                </div><!--/.about-btn-->
                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->
                    </div><!--/.col-->
                }

            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->
<!--special-offer start-->
<section id="spo" class="special-offer">
    <div class="container">
        <div class="special-offer-content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="single-special-offer">
                        <div class="single-special-offer-txt">
                            <h2>Ninja H2</h2>
                            <div class="packages-review special-offer-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="packages-para special-offer-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 5 Days 6 nights
                                    </span>
                                    <span>
                                        <i class="fa fa-angle-right"></i> 2 person
                                    </span>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  5 star accomodation
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  transportation
                                    </span>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  food facilities
                                    </span>
                                </p>
                                <p class="offer-para">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem ut labore et dolore magna  aliqua. Ut enim ad minim veniam, quis nostrud exercitation una <br> ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div><!--/.packages-para-->
                            <div class="offer-btn-group">
                                <div class="about-btn">
                                    <button class="about-view packages-btn offfer-btn">
                                        make tour
                                    </button>
                                </div><!--/.about-btn-->
                                <div class="about-btn">
                                    <button class="about-view packages-btn">
                                        book now
                                    </button>
                                </div><!--/.about-btn-->
                            </div><!--/.offer-btn-group-->
                        </div><!--/.single-special-offer-txt-->
                    </div><!--/.single-special-offer-->
                </div><!--/.col-->
                <div class="col-sm-4">
                    <div class="single-special-offer">
                        <div class="single-special-offer-bg">
                            <img src="~/assets/images/offer/offer-shape.png" alt="offer-shape">
                        </div><!--/.single-special-offer-bg-->
                        <div class="single-special-shape-txt">
                            <h3>special offer</h3>
                            <h4><span>10%</span><br>off</h4>
                            <p><span>$90.000</span><br>reguler $ 1450</p>
                        </div><!--/.single-special-shape-txt-->
                    </div><!--/.single-special-offer-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.special-offer-content-->
    </div><!--/.container-->

</section><!--/.special-offer end-->
<!--special-offer end-->
