@model Web_BanXeMoTo.Controllers.ViewModelNV

<div asp-validation-summary="ModelOnly" class="text-danger"></div>


    @*<div class="form-group">
            <label asp-for="taiKhoan.Idtk" class="control-label"></label>
            <input asp-for="taiKhoan.Idtk" class="form-control" />

            <span asp-validation-for="taiKhoan.Idtk" class="text-danger"></span>
        </div>*@

    <div class="form-group">
        <label asp-for="tknv.Email" class="control-label"></label>
        <input asp-for="tknv.Email" class="form-control" />
        <span asp-validation-for="tknv.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="tknv.Pass" class="control-label"></label>
        <input asp-for="tknv.Pass" class="form-control" />
        <span asp-validation-for="tknv.Pass" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <label class="control-label"> Admin </label>
        <label class="form-check-label">
            <input class="form-check-input" asp-for="tknv.Type" />
        </label>
    </div>

    <div class="form-group">
        <label asp-for="tknv.TenNv" class="control-label"></label>
        <input asp-for="tknv.TenNv" class="form-control" />
        <span asp-validation-for="tknv.TenNv" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="tknv.DienThoai" class="control-label"></label>
        <input asp-for="tknv.DienThoai" class="form-control" />
        <span asp-validation-for="tknv.DienThoai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="tknv.DiaChi" class="control-label"></label>
        <input asp-for="tknv.DiaChi" class="form-control" />
        <span asp-validation-for="tknv.DiaChi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="tknv.Cmnd" class="control-label"></label>
        <input asp-for="tknv.Cmnd" class="form-control" />
        <span asp-validation-for="tknv.Cmnd" class="text-danger"></span>
    </div>
    <script src="~/js/script.js"></script>




