@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Analytics Dashboard - This is an example dashboard created using build-in elements and components.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <partial name="header"></partial>
        <div class="app-main">
            <partial name="menu"></partial>
            <div class="app-main__outer">
                @RenderBody()
                @*<div class="app-main__inner">


                    </div>*@
            </div>
        </div>
    </div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    </div>
    </div>
    <script type="text/javascript" src="~/js/main.js"></script>


    @*@section scripts{
            <script type="text/javascript">
                function ChangeImage(Image, previewImage) {
                    if (Image.files && Image.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $(previewImage).attr('src', e.target.result);
                        }
                        reader.readAsDataURL(Image.files[0])
                    }
                }
            </script>
        }*@
    @if   (IsSectionDefined("Scripts"))
    {  
        @RenderSection("Scripts", required:true)
    }

</body>
